*{
    margin: 0px;
    padding:0px;
}

body{
    margin: 0px;
    padding:0px;
}


/* こ↑こ↓ヘッダー */
header{
    height:7rem;
    background-color:gray;
    margin: 0px;
    padding:0px;
}


header h1{
    font-size: 2rem;
    font-family: 'Segoe UI';
    padding: 20px ;
    color:black;
    text-decoration: none;
}

header h1 a{
    color:black;
    text-decoration: none;
}

